{% extends "base.html" %}
{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% block content %}

    <!--Login-Section-->
    <section class="sptb mt-5">
        <div class="container customerpage mt-5">
            <div class="row mt-5">
                <div class="single-page mt-5">
                    <div class="col-lg-7 col-xl-6 col-md-9 d-block mx-auto mt-5">
                        <div class="wrapper wrapper2 mt-5">

                            <!--begin::Form-->
                            <div class="card-body p-4">
                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{% trans "ÇIKIŞ" %}</h4>
                                    <p class="text-muted mb-4"> {% trans "TEKNOFEST Kariyerden' den çıkış yapılacak emin misiniz ?" %}  </p>
                                </div>

                                <form method="post" action="{% url 'account_logout' %}" class="text-center">
                                    {% csrf_token %}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                    <a class="btn btn-primary" type="button" href="/">{% trans "Geri Dön" %}  </a>
                                    <button class="btn btn-danger" type="submit"> {% trans "Çıkış Yap" %} </button>

                                </form>
                            </div>
                            <!--end::Form-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Login-Section-->

{% endblock %}

