{% extends "base.html" %}
{% load i18n static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load allTags %}


{% block content %}
    <!--Login-Section-->
    <section class="sptb mt-5">
        <div class="container customerpage mt-5">
            <div class="row mt-5">
                <div class="single-page mt-5">
                    <div class="col-lg-5 col-xl-4 col-md-7 d-block mx-auto mt-5">
                        <div class="wrapper wrapper2 mt-5">
                            <div class="mt-5">
                                <h4 class="text-center">{% trans "Kariyer Giriş" %}</h4>
                            </div>
                            <hr>

                            <form class="card-body" id="signup_form" method="post" action="{% url 'account_reset_password' %}"
                                  novalidate>
                                {% csrf_token %}
                                {{ form|crispy }}

                                <div class="submit">
                                    <button class="btn btn-primary btn-block" type="submit" id="reset_password">
                                        {% trans 'Şifremi Sıfırla' %}
                                    </button>
                                </div>


                                <p class="text-dark mb-0">
                                    {% trans "Zaten bir hesabınız mı var?" %} <a href="{% url 'account_login' %}"
                                                                                 class="text-primary ml-1">{% trans "Giriş" %}</a>
                                </p>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Login-Section-->
{% endblock %}